section {
    scroll-margin-top: 80px; /* sesuaikan tinggi navbar */
}

/* ==================================== HALAMAN BERANDA ==================================== */
/* ------------------------------------ SECTION LANDING ------------------------------------ */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.55)), url("images/smkn1kpg/contoh_smkn.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

    #home h2 {
        color: #ffffff;
        font-size: 2.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #home p {
        width: 50%;
        color: #ffffff;
        font-size: 0.9rem;
        line-height: 25px;
    }

    #home ::deep .btn {
        margin-top: 30px;
    }

        #home ::deep .btn a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 13px 35px;
            font-weight: 600;
            border-radius: 5px;
        }

            #home ::deep .btn a.blue {
                color: #ffffff;
                background-color: rgb(21, 21, 100);
                transition: 0.3s ease;
            }

                #home ::deep .btn a.blue:hover {
                    color: rgb(21, 21, 100);
                    background-color: #ffffff;
                }

    #home .btn a.yellow {
        color: #ffffff;
        background-color: #fdc93b;
        transition: 0.3s ease;
    }

        #home .btn a.yellow:hover {
            color: rgb(21, 21, 100);
            background-color: #ffffff;
        }

/* ------------------------------------ SECTION PROFIL SINGKAT SMA ------------------------------------ */
#sambutan {
    padding: 8vw 9vw 0;
}

    #sambutan .sambutan-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
        gap: 50px;
        flex-wrap: wrap;
    }

        #sambutan .sambutan-wrapper .sambutan-image img {
            width: 600px;
            height: 300px;
            border-radius: 8px;
            object-fit: cover;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        #sambutan .sambutan-wrapper .sambutan-content {
            flex: 1;
        }

            #sambutan .sambutan-wrapper .sambutan-content .sambutan-lihat {
                text-transform: uppercase;
                font-size: 14px;
                color: #888888;
                letter-spacing: 1px;
            }

            #sambutan .sambutan-wrapper .sambutan-content h1 {
                margin-top: 20px;
                font-size: 2.4rem;
                line-height: 1.2;
            }

            #sambutan .sambutan-wrapper .sambutan-content .sambutan-text {
                font-size: 16px;
                color: #333333;
                line-height: 1.7;
                text-align: justify;
                margin-top: 10px;
            }

            #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 20px;
                gap: 60px;
                flex-wrap: wrap;
            }

                #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik .stat-box {
                    text-align: center;
                    position: relative;
                    padding-top: 10px;
                }

                    #sambutan
                    .sambutan-wrapper
                    .sambutan-content
                    .sambutan-statistik
                    .stat-box::before {
                        content: "";
                        width: 4px;
                        height: 20px;
                        background-color: #fdc93b;
                        position: absolute;
                        left: -20px;
                        top: 10px;
                    }

.sambutan-wrapper .sambutan-content .sambutan-statistik .stat-box .stat-number {
    font-size: 44px;
    font-weight: bold;
    color: #333333;
}

    .sambutan-wrapper
    .sambutan-content
    .sambutan-statistik
    .stat-box
    .stat-number::after {
        content: "+";
        font-size: 28px;
        vertical-align: super;
        margin-left: 4px;
    }

.sambutan-wrapper .sambutan-content .sambutan-statistik .stat-box .stat-label {
    margin-top: 8px;
    color: rgb(255, 0, 0);
    font-size: 16px;
}


/* ------------------------------------ SECTION VISI & MISI ------------------------------------ */
#visimisi {
    padding: 5vw 8vw 0;
}

    #visimisi .visimisi-container {
        display: flex;
        gap: 2rem;
        padding: 25px 0 0;
        justify-content: center;
        flex-wrap: wrap;
    }

        #visimisi .visimisi-container .visimisi-box {
            flex: 1 1 45%;
            background-color: white;
            border-radius: 10px;
        }

            #visimisi .visimisi-container .visimisi-box .judul-line {
                height: 10px;
                background-color: rgb(21, 21, 100);
                border: none;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
                border-radius: 100px;
            }

            #visimisi .visimisi-container .visimisi-box .judul {
                font-size: 24px;
                color: rgb(24, 24, 49);
                font-weight: 700;
            }

            #visimisi .visimisi-container .visimisi-box .judul-line-tipis {
                margin: 20px 0;
                flex-grow: 1;
                height: 4px;
                width: 50px;
                background-color: #000000;
            }

            #visimisi .visimisi-container .visimisi-box p {
                padding-bottom: 20px;
            }

            #visimisi .visimisi-container .visimisi-box .isi {
                font-size: 16px;
                color: #000000;
                padding-left: 20px;
                line-height: 1.6;
            }

                #visimisi .visimisi-container .visimisi-box .isi li {
                    margin-bottom: 10px;
                }


/* ------------------------------------ SECTION EKSTRAKURIKULER ------------------------------------ */
#ekskul {
    padding: 4vw 8vw 5vw;
    text-align: center;
    background-color: #101c32;
}

    #ekskul h1,
    #ekskul p {
        color: #f9f9ff;
    }

    #ekskul .ekskul-base {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

        #ekskul .ekskul-base .ekskul-box {
            background: #f9f9ff;
            text-align: start;
            padding: 15px;
            border-radius: 5px;
        }

            #ekskul .ekskul-base .ekskul-box img {
                width: 60px;
                height: 60px;
            }

            #ekskul .ekskul-base .ekskul-box h3 {
                font-size: 1.3rem;
                font-weight: 600;
                color: rgb(46, 46, 59);
            }

            #ekskul .ekskul-base .ekskul-box p {
                font-size: 0.9rem;
                font-weight: 400;
                color: rgb(70, 70, 87);
            }

/* ------------------------------------ SECTION KONTAK ------------------------------------ */
#kontak {
    padding: 5vw 8vw 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

    #kontak .contact {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

        #kontak .contact .getin {
            width: 350px;
        }

            #kontak .contact .getin p {
                color: #686875;
                line-height: 24px;
                margin-bottom: 33px;
                padding-bottom: 25px;
                border-bottom: 1px solid #e5e4ed;
            }

            #kontak .contact .getin h3 {
                color: #2c234d;
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
                margin-bottom: 15px;
            }

            #kontak .contact .getin .getin-details div {
                display: flex;
            }

.contact .getin .getin-details div .get {
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    margin-bottom: 15px;
    line-height: 22px;
}

#kontak .contact .getin .getin-details .pro-links {
    margin-top: 15px;
}

.contact .getin .getin-details .pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    margin-right: 8px;
    transition: 0.3s ease;
}

    .contact .getin .getin-details .pro-links i:hover {
        background: rgb(21, 21, 100);
        color: #ffffff;
    }

#kontak .contact .form {
    width: 60%;
    background: #f0eff5;
    padding: 40px;
    border-radius: 10px;
}

    #kontak .contact .form h4 {
        font-size: 24px;
        color: #2c234d;
        line-height: 30px;
        margin-bottom: 8px;
    }

    #kontak .contact .form p {
        color: #686875;
        line-height: 24px;
        padding-bottom: 25px;
    }

    #kontak .contact .form .form-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

        #kontak .contact .form .form-row input {
            width: 48%;
            font-size: 14px;
            font-weight: 400;
            border-radius: 3px;
            border: none;
            background: #ffffff;
            color: #7e7c87;
            outline: none;
            padding: 20px 30px;
            margin-bottom: 20px;
        }

    #kontak .contact .form .form-col input,
    #kontak .contact .form .form-col textarea {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        border: none;
        background: #ffffff;
        color: #7e7c87;
        outline: none;
        padding: 20px 30px;
        margin-bottom: 20px;
    }

    #kontak .contact .form button {
        font-size: 0.9rem;
        padding: 13px 25px;
        background: rgb(21, 21, 100);
        border: 1px solid rgb(21, 21, 100);
        border-radius: 5px;
        outline: none;
        font-weight: 600;
        cursor: pointer;
        color: #ffffff;
        transition: 0.3s ease;
    }

        #kontak .contact .form button:hover {
            color: rgb(21, 21, 100);
            border: 1px solid rgb(21, 21, 100);
            background: #f5f5f5;
        }


/* ------------------------------------ SECTION MAP ------------------------------------ */
#map {
    padding: 5vw 0 3vw;
}

    #map .map-sekolah iframe {
        width: 100%;
        height: 450px;
    }

/* ==================================== RESPONSIVE ==================================== */
/* ------------------------------------ PENYESUAIAN ------------------------------------ */
@media (max-width: 1350px) {
    /* ------------------------------------ SECTION PROFIL SINGKAT SMA ------------------------------------ */
    #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik[b-5k926p3mh8] {
        gap: 40px;
    }
}

/* ------------------------------------ LAPTOP MEDIUM ------------------------------------ */
@media (max-width: 1280px) {
    /* ------------------------------------ SECTION PROFIL SINGKAT SMA ------------------------------------ */
    #sambutan .sambutan-wrapper {
        gap: 15px;
    }

        #sambutan .sambutan-wrapper .sambutan-image {
            width: 100%;
            height: 100%;
        }

        #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik[b-5k926p3mh8] {
            gap: 60px;
        }

        #sambutan .sambutan-wrapper .sambutan-image iframe {
            width: 100%;
            height: 300px;
        }

    /* ------------------------------------ SECTION BERITA ------------------------------------ */
    #berita .beritas .berita-tanggal[b-5k926p3mh8] {
        bottom: 200px;
    }
}

/* ------------------------------------ TABLET ------------------------------------ */
@media (max-width: 780px) {
    /* ------------------------------------ SECTION BERITA ------------------------------------ */
    #berita .berita-box[b-5k926p3mh8] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

    #berita .beritas .berita-tanggal[b-5k926p3mh8] {
        bottom: 180px;
    }
}

/* ------------------------------------ MOBILE ------------------------------------ */
@media (max-width: 640px) {

    h1 {
        font-size: 1.9rem;
        line-height: 1.3;
    }

    /* ------------------------------------ SECTION LANDING ------------------------------------ */
    #home p {
        width: 70%;
    }

    /* ------------------------------------ SECTION PROFIL SINGKAT SMA ------------------------------------ */
    #sambutan[b-5k926p3mh8] {
        padding: 10vw 9vw 0;
    }

    #sambutan .sambutan-wrapper .sambutan-image {
        width: 100%;
        height: 100%;
    }

    #sambutan .sambutan-wrapper .sambutan-content h1[b-5k926p3mh8] {
        margin-top: 10px;
    }

    #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik {
        gap: 0px;
    }

        #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik[b-5k926p3mh8] {
            display: flex;
            padding: 0px 0px 0px 20px;
            gap: 50px;
            flex-wrap: wrap;
        }

    #sambutan .sambutan-wrapper .sambutan-content h1 {
        font-size: 2rem;
    }

    .sambutan-wrapper .sambutan-content .sambutan-statistik .stat-box .stat-number[b-5k926p3mh8] {
        font-size: 30px;
    }

    .sambutan-wrapper .sambutan-content .sambutan-statistik .stat-box .stat-label[b-5k926p3mh8] {
        font-size: 14px;
    }

    /* ------------------------------------ SECTION BERITA ------------------------------------ */
    #berita[b-5k926p3mh8] {
        padding: 12vw 8vw;
        text-align: center;
    }

    #berita .berita-box[b-5k926p3mh8] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        margin-top: 30px;
    }

    #berita .beritas .berita-tanggal[b-5k926p3mh8] {
        bottom: 180px;
    }

    .para-berita {
        margin-top: 10px;
    }

    /* ------------------------------------ SECTION EKSTRAKURIKULER ------------------------------------ */
    #ekskul[b-5k926p3mh8] {
        padding: 8vw 8vw 10vw;
        text-align: center;
        background-color: #101c32;
    }

    #ekskul .ekskul-base {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

    .para-ekskul {
        margin-top: 10px;
    }

    /* ------------------------------------ SECTION GURU & KARYAWAN ------------------------------------ */
    .para-guru {
        margin-top: 10px;
    }

    /* ------------------------------------ SECTION MAP ------------------------------------ */
    #map {
        padding: 10vw 0 3vw;
    }

        #map .map-sekolah iframe {
            width: 100%;
            height: 450px;
        }
}

/* ------------------------------------ MOBILE MINI ------------------------------------ */
@media (max-width: 450px) {
    /* ------------------------------------ SECTION SAMBUTAN ------------------------------------ */
    #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik[b-5k926p3mh8] {
        display: flex;
        padding: 0px 0px;
        gap: 20px;
        flex-wrap: wrap;
    }

    #sambutan
    .sambutan-wrapper
    .sambutan-content
    .sambutan-statistik
    .stat-box[b-5k926p3mh8]::before {
        display: none;
    }
}


/* ------------------------------------ MOBILE MINI ------------------------------------ */
@media (max-width: 350px) {
    /* ------------------------------------ SECTION LANDING ------------------------------------ */
    #home h2 {
        font-size: 1.8rem;
    }

    #home p {
        width: 80%;
        color: #ffffff;
        font-size: 0.9rem;
        line-height: 25px;
    }

    #home ::deep .btn {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* ------------------------------------ SECTION SAMBUTAN ------------------------------------ */
    #sambutan .sambutan-wrapper .sambutan-content .sambutan-statistik[b-5k926p3mh8] {
        display: flex;
        padding: 0px 0px;
        gap: 10px;
        flex-wrap: wrap;
    }

    /* ------------------------------------ SECTION BERITA ------------------------------------ */
    #berita .berita-box[b-5k926p3mh8][b-5k926p3mh8] {
        grid-gap: 2rem;
    }

    #berita .beritas .berita-tanggal[b-5k926p3mh8] {
        bottom: 150px;
    }

    .button_lihat_semua {
        margin-top: 40px;
    }
}
