<!-- ======================================= SECTION LANDING ======================================= -->
<section id="home">
    <h2>SMK NEGERI 1 KOTA KUPANG</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <div class="btn">
        <a class="blue" asp-action="Login" asp-controller="Home" asp-area="Dashboard">Login Dashboard</a>
    </div>
</section>

<!-- ======================================= SAMBUTAN ======================================= -->
<section id="sambutan">
    <div class="judul-garis">
        <h2>Welcome</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="sambutan-wrapper" style="padding: 0 25px">
        <div class="sambutan-image">
            <img src="images/smkn1kpg/contoh_smkn.jpg" alt="" />
        </div>
        <div class="sambutan-content">
            <h1>Profil Singkat SMK Negeri 1 Kota Kupang</h1>
            <p class="sambutan-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            @* <div class="pimpinan">
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama"></p>
                    <p class="sambutan2-jabatan">DEWAN PEMBINA</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama"></p>
                    <p class="sambutan2-jabatan">KETUA UMUM</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama"></p>
                    <p class="sambutan2-jabatan">KETUA UMUM II</p>
                </div>
            </div> *@
        </div>
    </div>
</section>


<!-- ======================================= VISI & MISI ======================================= -->
<section id="visimisi">
    <div class="judul-garis">
        <h2>Visi & Misi</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="visimisi-container">
        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Visi</h2>
            <hr class="judul-line-tipis" />

        </div>

        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Misi</h2>
            <hr class="judul-line-tipis" />

        </div>
    </div>
</section>


<!-- ======================================= SECTION EKSTRAKURIKULER ======================================= -->
<section id="ekskul">
    <h1>Ekstrakurikuler Sekolah</h1>
    <p class="para-ekskul">Tingkatkan Kemampuanmu Lewat Kegiatan Seru dan Bermakna</p>
    <div class="ekskul-base">
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/sepak_bola.png" alt="" />
            <h3>Sepak Bola</h3>
            <p>Kegiatan olahraga rutin</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/bola_voli.png" alt="" />
            <h3>Bola Voli</h3>
            <p>Aktivitas tim terkoordinasi</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/speaker.png" alt="" />
            <h3>Public Speaking</h3>
            <p>Keterampilan Berbicara</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/guitar.png" alt="" />
            <h3>Gitar</h3>
            <p>Pembelajaran seni musik</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/run.png" alt="" />
            <h3>Lari Atletik</h3>
            <p>Latihan ketahanan fisik</p>
        </div>
    </div>
</section>

<!-- ======================================= KONTAK & ALAMAT ======================================= -->
<section id="kontak">
    <div class="judul-garis">
        <h2>Kontak & Alamat</h2>
        <div class="garis-sisa"></div>
    </div>

    <div class="contact">
        <div class="getin">
            <p>Ingin terhubung dengan kami? Hubungi kontak berikut ini.</p>
            <div class="getin-details">
                <h3>Alamat</h3>
                <div>
                    <i class="ri-home-8-line get"></i>
                    <p>
                        Kelurahan Oetete, Kecamatan Oebobo, Kota Kupang, Nusa Tenggara Timur
                    </p>
                </div>
                <h3>Telepon</h3>
                <div>
                    <i class="ri-phone-fill get"></i>
                    <p>+628123456789</p>
                </div>
                <h3>Email</h3>
                <div>
                    <i class="ri-mail-ai-fill get"></i>
                    <p>smkn1kupang@gmail.com</p>
                </div>
                <h3>Ikuti Kami</h3>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-tiktok-fill"></i>
                    <i class="ri-linkedin-fill"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <h4>Hubungi Kami</h4>
            <p>Jika anda memiliki pertanyaan, saran, atau masukan.</p>
            <div class="form-row">
                <input type="text" placeholder="Nama" />
                <input type="text" placeholder="Email" />
            </div>
            <div class="form-col">
                <input type="text" placeholder="Judul" />
            </div>
            <div class="form-col">
                <textarea name=""
                          id=""
                          cols="30"
                          rows="6"
                          placeholder="Isi Pesan Anda?"></textarea>
            </div>
            <div class="form-col">
                <button>Kirim Pesan</button>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= SECTION MAP ======================================= -->
<section id="map">
    <div class="map-sekolah">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.1739623555927!2d123.58559607503337!3d-10.16651098994755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c569c91189b9081%3A0x391a425272e0a708!2sSMK%20Negeri%201%20Kupang!5e0!3m2!1sid!2sid!4v1770128699426!5m2!1sid!2sid" 
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>