@using SpkSnbp.Domain.Auth
@using SpkSnbp.Web.Authentication
@inject ISignInManager SignInManager

<!-- SIDEBAR -->
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="">
                <img src="#" style="width: 30px; height: 30px;" />
                <span class="logo-name">Dashboard</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Beranda</li>
            <li>
                <a asp-controller="Home" asp-action="Index" data-match="all" class="nav-link"><i class="fas fa-home"></i><span>Beranda</span></a>
            </li>

            @if (await SignInManager.IsInRole(UserRoles.Admin))
            {
                <li class="menu-header">Kriteria</li>
                <li>
                    <a asp-controller="Kriteria" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Kriteria</span></a>
                </li>

                <li class="menu-header">Data</li>
                <li>
                    <a asp-controller="TahunAjaran" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Tahun Ajaran</span></a>
                </li>
                <li>
                    <a asp-controller="Siswa" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Siswa</span></a>
                </li>
                <li>
                    <a asp-controller="MataPelajaran" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Mata Pelajaran</span></a>
                </li>
                <li>
                    <a asp-controller="SertifikatLSP" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Sertifikat LSP</span></a>
                </li>
                <li>
                    <a asp-controller="SertifikatTKA" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Sertifikat TKA</span></a>
                </li>
                <li>
                    <a asp-controller="Ekstrakulikuler" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Ekstrakulikuler</span></a>
                </li>
                <li>
                    <a asp-controller="Absensi" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Absensi</span></a>
                </li>
            }

            <li class="menu-header">Hasil</li>
            <li>
                <a asp-controller="Perhitungan" asp-action="Index" data-match="partial" class="nav-link"><i class="fas fa-home"></i><span>Perhitungan</span></a>
            </li>
        </ul>
    </aside>
</div>